body.article {
    .article-header {
      height: 70vh;
      margin-top: 100px;
      position: relative;
      .article-illustration {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
      }
    }

    .content-scroll {
      position: relative;
      padding: 0 60px 80px 60px;
      max-width: 860px;
      margin: -190px auto 200px auto;
      box-shadow: var(--shadow);
      background: var(--white);
      .article-title {
        position: absolute;
        top: -45px;
        left: -25px;
        color: var(--white);
        background-color: var(--black-lighter);
        box-shadow: var(--shadow);
        h2 {
          margin: 14px 50px;
          font-size: 30px;
          max-width: 500px;
          line-height: normal;
          font-weight: 900;
        }
      }
      .article-category {
        position: absolute;
        top: -65px;
        right: -20px;
        h2 {
          font-size: 28px;
          padding: 10px 24px;
          text-transform: uppercase;
          font-weight: 900;
        }
        .highlight:before, .highlight:after {
          box-shadow: var(--shadow);
        }
      }
      .article-content {
        padding-top: 60px;
        img {
          display: block;
          width: 80%;
          margin: 50px auto;
        }
        .end-of-article {
          font-style: italic;
          font-weight: 500;
        }
      }
    }
}