body.home {
    
    
   .banner-scroll {
       position: relative;
       min-height: 100vh;
       background-color: var(--dark-bg);
       img {
           position: absolute;
           max-width: 80%;
           right: 20px;
           z-index: -2;
           top: 4vh;
           bottom: 0;
           margin: auto;
       }
       h1 {
           position: absolute;
           font-size: 56px;
            line-height: 100px;
           top: 36vh;
           left: 10%;
           margin: auto;
           min-width: fit-content;
           font-weight: 100;
           strong, .highlight {
            font-weight: 900;
            position: relative;
           }
       }
   }

   .last-articles-scroll {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        text-align: center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
       h2 {
        margin: 0 auto 50px auto;
        padding-top: 5px;
        padding-bottom: 8px;
        font-size: 38px;
        font-weight: 900;
        text-transform: uppercase;
       }
       .projects {
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;
            padding: 0;
           .project {
               display: inline-block;
               background: var(--white);
               box-shadow: var(--shadow);
               margin: 20px;
               max-width: 300px;
               min-height: 400px;
               a {
                   text-decoration: none;
               }
               img {
                   max-width: 100%;
               }
               h4 {
                   display: block;
                   color: var(--black-lighter);
                   text-decoration: none;
                   margin: 14px auto;
                   padding: 0 20px;
               }
               p {
                padding: 0 20px;
                color: var(--black-lighter);
                text-align: justify;
               }
           }
       }
   }

    .bio-scroll {
        background-color: var(--white);
        .bio-wrapper {
           min-height: 100vh;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .bio-illustration {
                position: relative;
                margin-right: 230px;
                margin-top: 0;
                .arrow {
                    position: absolute;
                    top: 0;
                    right: -190px;
                }
            }
            .bio-content {
                min-height: 380px;
                max-width: 560px;
                h4.title {
                    font-size: 56px;
                    line-height: 100px;
                    text-transform: uppercase;
                    font-weight: 100;
                    margin: 20px 0 0;
                    strong, .highlight {
                     font-weight: 900;
                     position: relative;
                    }
                }
                p {
                    margin-top: 0;
                }
                .action-block {
                    margin-top: 100px;
                    text-align: right;
                }
            }
       }
    }
    
    .about-scroll {
        background-color: var(--highlight-bg);
        .about-wrapper {
           min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .about-illustration {
                flex: 1;
                width: 100%;
                height: 100vh;
                background: transparent url("/img/home_about_illustration.png") no-repeat center/cover;
            }
            .about-content {
                flex: 1;
                min-height: 380px;
                padding: 0 150px;
                h4.title {
                    font-size: 56px;
                    line-height: 100px;
                    text-transform: uppercase;
                    font-weight: 100;
                    margin: 20px 0 0;
                    strong, .highlight {
                     font-weight: 900;
                     position: relative;
                    }
                }
                p {
                    margin-top: 0;
                }
                .action-block {
                    margin-top: 100px;
                    text-align: right;
                }
            }
       }
    }
}