<!DOCTYPE html>
<html>
    <head>
        <%- include('common/head')%>
    </head>
    <body class="category" data-scroll-container>

        <%- include('common/nav')%>

        <%- include('common/footer')%>

        <%- include('common/js')%>
    </body>
</html>