<div class="footer-scroll-inner">
    <div class="separator"></div>
    <div class="primary-footer"></div>
  <div class="secondary-footer">
    <span>©2022 Design et développement par Julien Folliot.</span>
  </div>
</div>