<div class="footer-scroll" data-scroll data-scroll-section data-scroll-id="footer-scroll">
    <div class="primary-footer"></div>
  <div class="secondary-footer">
    <span>©2022 Design et développement par <strong>moi-même ^^</strong></span>
  </div>
</div>