<nav class="main-nav">
    <div id="logo" class="logo"><a href="/"></a></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Journal de bord</a></li>
        <li><a href="/">Qui suis-je</a></li>
    </ul>
</nav>